@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@mixin on-mobile {
    @media (max-width: 769px) {
        @content
    }
}


.container {
    font-family: 'Tomorrow';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .searchContainer {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        padding: 2rem 3rem;
        justify-content: center;
        gap: 1rem;

        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            height: 3.5rem;
            background: #04abff;
            transition: all 0.3s ease-in;
            color: #fff;
            cursor: pointer;
            width: 10%;
            padding: 0rem 2rem;


            &:hover {
                background: #0287c9;
            }

        }
    }

    .disabled {
        opacity: 0.4;
    }

    .results {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        border-radius: 5px;
        width: 90%;
        height: 80vh;
        padding: 2rem;
        background: #f3f4f6;
        border: 1px solid #e7e7e9;

        @include on-mobile() {
            width: 91%;
            height: auto;
            margin-left: 1rem;
            padding: 1rem;
        }


        .blueLine {
            margin-top: -1rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #0e1525, transparent);
        }

        .queryHeader {
            & p {
                font-weight: bold;
                font-size: 1.5rem;
            }

            & textarea {
                width: 99%;
                height: 5rem;
                background: #fff;
                color: #0e1525;
                padding: 0.5rem;

                @include on-mobile() {
                    width: 95%;
                }
            }

            .exportBtn {
                color: #0e1525;
                border: 2px solid #0e1525;
                padding: 0.5rem 2rem;
                cursor: pointer;
                transition: all 0.2s ease-in;

                &:hover {
                    background: #0e1525;
                    color: #fff;
                }

            }
        }

        .queryResult {
            display: flex;
            width: 100%;
            height: 65vh;

            @include on-mobile() {
                min-height: 25vh;
                width: 95%;
            }
        }
    }

    .modalContent {
        height: 100%;
        width: 100%;
        display: flex;
        // padding: 2rem;
        flex-direction: column;

        & p:nth-child(1) {
            margin: 0rem auto;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-top: 1.5rem;
        }

        .modalQuestion {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            margin-left: 4rem;

            &>p {
                margin: 0;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            & input {
                width: 80%;
                padding: 0.5rem;
            }

            & select {
                width: 84%;
                padding: 0.5rem;
            }
        }

        .submitBtn {
            background: #04abff;
            width: 9rem;
            color: #fff;
            text-align: center;
            padding: 0.5rem;
            margin: auto;
            margin-top: 0rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &:hover {
                transform: translateY(-1px);
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
        }
    }
}