@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@mixin on-mobile {
    @media (max-width: 769px) {
        @content
    }
}


.container {
    font-family: 'Tomorrow';
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .searchContainer {
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: row;
        padding: 2rem 3rem;
        justify-content: center;
        gap: 1rem;

        @include on-mobile() {
            width: 90%;
            padding: 1rem;
        }

        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            height: 3.5rem;
            background: #04abff;
            transition: all 0.3s ease-in;
            color: #fff;
            cursor: pointer;
            width: 10%;
            padding: 0rem 2rem;


            &:hover {
                background: #0287c9;
            }

        }
    }

    .disabled {
        opacity: 0.4;
    }

    .results {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        border-radius: 5px;
        width: 90%;
        height: 80vh;
        padding: 2rem;
        background: #f3f4f6;
        border: 1px solid #e7e7e9;

        @include on-mobile() {
            width: 80%;
            padding: 1rem;
        }


        .blueLine {
            margin-top: -1rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #0e1525, transparent);
        }

        .queryHeader {
            & p {
                font-weight: bold;
                font-size: 1.5rem;

                @include on-mobile(){
                    font-size: 1.2rem;
                }
            }

            & textarea {
                width: 99%;
                height: 5rem;
                background: #fff;
                color: #0e1525;
                padding: 0.5rem;

                @include on-mobile() {
                    width: 95%;
                }
            }

            .exportBtn {
                color: #0e1525;
                border: 2px solid #0e1525;
                padding: 0.5rem 2rem;
                cursor: pointer;
                transition: all 0.2s ease-in;

                @include on-mobile() {
                    padding: 0.3rem 1.5rem;
                    border: none;
                }

                &:hover {
                    background: #0e1525;
                    color: #fff;
                }

            }
        }

        .queryResult {
            display: flex;
            width: 100%;
            height: 50vh;

            @include on-mobile() {
                min-height: 25vh;
                width: 100%;
            }
        }
    }
}