@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');

@mixin on-mobile {
    @media (max-width: 769px) {
        @content
    }
}


.container {
    font-family: 'Tomorrow';
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    // overflow: hidden;

    @include on-mobile() {
        flex-direction: column;
    }

    .leftContainer {
        width: 30%;
        display: flex;
        flex-direction: column;
        padding: 2rem 3rem;
        gap: 3rem;

        @include on-mobile() {
            width: 100%;
            padding: 1rem;
            gap: 1.5rem;
        }

        .goback {
            font-weight: bolder;
            font-size: 1.2rem;
            cursor: pointer;
            padding: 1rem 0rem;
            margin-bottom: -1rem;
            transition: all 0.2s ease-in;

            &:hover {
                color: #04abff;
            }

            @include on-mobile() {
                font-size: 1rem;
            }

        }

        .reqCont {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            transition: all 0.3s ease-in;


            .title {
                font-size: 2rem;

                @include on-mobile() {
                    font-size: 1.2rem;
                }
            }

            select {
                width: 95%;
                padding: 1rem;
                border-radius: 0.5rem;

                @include on-mobile() {
                    width: 99%;
                }
            }

            input {
                width: 87%;
                padding: 1rem;
                border-radius: 0.5rem;
                border: 1px solid #2b2b2b;

                @include on-mobile() {
                    width: 91%;
                }
            }
        }

        .orSeparator {
            margin: -0.5rem 0rem;
            display: flex;
            font-size: 0.8rem;
            width: 40%;
            margin-left: 4rem;
            flex-direction: row;
            align-items: center;

            @include on-mobile() {
                width: 50%;
                margin: auto;
            }

            p {
                margin: 0rem 1rem;
            }

            .separator {
                height: 1px;
                width: 100%;
                background: #2b2b2b;
                opacity: 0.7;
            }
        }

        .searchBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            width: 95%;
            height: 4rem;
            background: #04abff;
            transition: all 0.3s ease-in;
            color: #fff;
            border-radius: 0.5rem;
            cursor: pointer;

            &:hover {
                transform: translateY(-1px);
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }

            @include on-mobile() {
                width: 99%;
                height: 3rem;
            }
        }

        .resetBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            width: 95%;

            @include on-mobile() {
                font-size: 1rem;
                margin-top: 1rem;
            }

            &>span {
                margin-top: -2.5rem;
                cursor: pointer;
            }
        }
    }

    .disabled {
        opacity: 0.4;
    }

    .rightContainer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 1rem;
        border-radius: 5px;
        width: 70%;
        height: 89vh;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        padding: 2rem;

        @include on-mobile() {
            width: 91%;
            height: auto;
            margin-left: 1rem;
            padding: 1rem;
        }


        .blueLine {
            margin-top: -1rem;
            margin-bottom: 1rem;
            width: 100%;
            height: 3px;
            background: linear-gradient(to right, #0e1525, transparent);
        }

        .queryHeader {
            & p {
                font-weight: bold;
                font-size: 1.5rem;
            }

            & textarea {
                width: 65vw;
                height: 5rem;
                background: #0e1525;
                color: #fff;
                padding: 0.5rem;

                @include on-mobile() {
                    width: 95%;
                }
            }

            .exportBtn {
                color: #0e1525;
                border: 2px solid #0e1525;
                padding: 0.5rem 2rem;
                cursor: pointer;
                transition: all 0.2s ease-in;

                &:hover {
                    background: #0e1525;
                    color: #fff;
                }

            }
        }

        .queryResult {
            display: flex;
            width: 66vw;
            height: 65vh;

            @include on-mobile() {
                min-height: 25vh;
                width: 95%;
            }
        }
    }

    .modalContent {
        height: 100%;
        width: 100%;
        display: flex;
        // padding: 2rem;
        flex-direction: column;

        & p:nth-child(1) {
            margin: 0rem auto;
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;
            margin-top: 1.5rem;
        }

        .modalQuestion {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            margin-left: 4rem;

            &>p {
                margin: 0;
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }

            & input {
                width: 80%;
                padding: 0.5rem;
            }

            & select {
                width: 84%;
                padding: 0.5rem;
            }
        }

        .submitBtn {
            background: #04abff;
            width: 9rem;
            color: #fff;
            text-align: center;
            padding: 0.5rem;
            margin: auto;
            margin-top: 0rem;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &:hover {
                transform: translateY(-1px);
                box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
            }
        }
    }
}