certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.0.7
coverage==7.2.5
cryptography==40.0.2
cycler==0.11.0
deprecation==2.1.0
docker==6.0.1
fonttools==4.39.3
idna==3.4
iniconfig==2.0.0
kiwisolver==1.4.4
matplotlib==3.7.1
networkx==3.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pluggy==1.0.0
pycparser==2.21
pydot==1.4.2
pygraphviz==1.10
PyMySQL==1.0.3
pyparsing==3.0.9
pytest==7.3.1
pytest-cov==4.0.0
python-dateutil==2.8.2
requests==2.29.0
six==1.16.0
SQLAlchemy==2.0.11
sqlparse==0.4.4
testcontainers==3.7.1
testcontainers-core==0.0.1rc1
testcontainers-mysql==0.0.1rc1
typing_extensions==4.5.0
urllib3==1.26.15
websocket-client==1.5.1
wrapt==1.15.0
networkx
